@tailwind base;
@tailwind components;
@tailwind utilities;

/* Grab fonts through the google link: https://fonts.googleapis.com/css2?family={family}:wght@{lowest}..{heighest}&display=swap */

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(/static/fonts/EB-Garamond.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/PTSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/static/fonts/OpenSans-Condensed.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

.svg {
  @apply stroke-zinc-200 fill-zinc-200;
}

/* 
-------------------------------------------
INPUT
------------------------------------------- 
*/

input[type=range].vert-slider {
  @apply -rotate-90;
}

input[type=range].no-appearance {
  -webkit-appearance: none;
}

/* 
-------------------------------------------
TEXT
------------------------------------------- 
*/

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'EB Garamond';
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

/*               ---  HEADINGS ---                 */

.pseudo {
  content: "\200C"; 
}

.h-cover {
  @apply h-full min-h-screen;
}

.flex-centered {
  @apply flex items-center justify-center;
}
